# Example and Guide
# https://caddyserver.com/docs/caddyfile/options

# General Options
{
    # Debug Mode
    # debug

    # Explicitly forces Caddy to show cookies/auth tokens in logs
    # servers {
    #     log_credentials
    # }

    # Disable Admin API
    admin off

    # TLS Options
    # (Optional) Disable Certificates Management (only if SSL/TLS Certificates are managed by certbot or other external Tools)
    auto_https disable_certs

    # (Optional) Default SNI
    # default_sni {$APPLICATION_HOSTNAME}
}

# localhost {
# 	reverse_proxy /api/* localhost:9001
# }

(reset-oidc-headers) {
    header_up X-Auth-Request-User ""
    header_up X-Auth-Request-Username ""
    header_up X-Auth-Request-Preferred-Username ""
    header_up X-Auth-Request-Email ""
    header_up X-Auth-Request-Email-Verified ""
    header_up X-Auth-Request-Groups ""
    header_up X-Auth-Request-Roles ""
    header_up X-Auth-Request-Entitlements ""
    header_up X-Auth-Request-Friendly-Name ""

    # Explicitly clear standard authorization headers if your backend shouldn't see them
    header_up Authorization ""
}

(overwrite-oidc-headers) {
    # This completely replaces any client-submitted headers
    # with the verified values from oauth2-proxy.
    # header_up X-Auth-Request-User "{http.auth.header.X-Auth-Request-User}"
    # header_up X-Auth-Request-Username "{http.auth.header.X-Auth-Request-Username}"
    # header_up X-Auth-Request-Preferred-Username "{http.auth.header.X-Auth-Request-Preferred-Username}"
    # header_up X-Auth-Request-Email "{http.auth.header.X-Auth-Request-Email}"
    # header_up X-Auth-Request-Email-Verified "{http.auth.header.X-Auth-Request-Email-Verified}"
    # header_up X-Auth-Request-Groups "{http.auth.header.X-Auth-Request-Groups}"
    # header_up X-Auth-Request-Roles "{http.auth.header.X-Auth-Request-Roles}"
    # header_up X-Auth-Request-Entitlements "{http.auth.header.X-Auth-Request-Entitlements}"
    # header_up X-Auth-Request-Friendly-Name "{http.auth.header.X-Auth-Request-Friendly-Name}"

    # Test with Empty Values
    #header_up X-Auth-Request-User ""
    #header_up X-Auth-Request-Username ""
    #header_up X-Auth-Request-Preferred-Username ""
    #header_up X-Auth-Request-Email ""
    #header_up X-Auth-Request-Email-Verified ""
    #header_up X-Auth-Request-Groups ""
    #header_up X-Auth-Request-Roles ""
    #header_up X-Auth-Request-Entitlements ""
    #header_up X-Auth-Request-Friendly-Name ""

    # Explicitly clear standard authorization headers if your backend shouldn't see them
    # header_up Authorization ""
}

(oauth2-proxy-authenticate) {
    forward_auth zed-oauth2-proxy:4180 {
        # uri /oauth2/auth # Checking if order
        uri /oauth2

        # oauth2-proxy requires the X-Real-IP and X-Forwarded-{Proto,Host,Uri} headers.
        # The forward_auth directive automatically sets the X-Forwarded-{For,Proto,Host,Method,Uri} headers.
        header_up X-Real-IP {remote_host}

        # If needed, you can copy headers from the oauth2-proxy response to the request sent to the upstream.
        # Make sure to configure the --set-xauthrequest flag to enable this feature.
        copy_headers X-Auth-Request-User X-Auth-Request-Username X-Auth-Request-Email X-Auth-Request-Email-Verified X-Auth-Request-Groups X-Auth-Request-Preferred-Username X-Auth-Request-Username X-Auth-Request-Roles X-Auth-Request-Entitlements X-Auth-Request-Friendly-Name Remote-User Remote-Username Remote-Groups Remote-Friendly-Name Remote-Email Remote-Groups Remote-Roles Remote-Entitlements Access-Token

        # If oauth2-proxy returns a 401 status, redirect the client to the sign-in page.
        @error status 401
            handle_response @error {
                redir * /oauth2/sign_in?rd={scheme}://{host}{uri}
            }
    }
}

# ZED
{$APPLICATION_HOSTNAME} {
    tls /certificates/{$APPLICATION_CERTIFICATE_DOMAIN}/{$APPLICATION_CERTIFICATE_CERT_FILE:fullchain.pem} /certificates/{$APPLICATION_CERTIFICATE_DOMAIN}/{$APPLICATION_CERTIFICATE_KEY_FILE:privkey.pem}

    log {
        output file /var/log/{$APPLICATION_HOSTNAME}/zed/access.json {
                roll_size 100MiB
                roll_keep 5000
                roll_keep_for 720h
                roll_uncompressed
        }

        format json
    }

    # Match 'admin' if it is:
    # 1. The only value: ^admin$
    # 2. At the start before a comma: ^admin,
    # 3. In the middle between commas: ,admin,
    # 4. At the end after a comma: ,admin$
    @prometheus_has_access {
        header_regexp X-Auth-Request-Roles (?:\b|^)admin(?:\b|$)
    }

    @zed_api {
        path {$ZED_ROOT_PATH} {$ZED_ROOT_PATH}/*
    }

    @authenticated_prometheus {
       path /prometheus /prometheus/*
    }

    @authenticated_grafana {
       path /grafana /grafana/*
    }

    @oauth2_authenticate {
        path /oauth2 /oauth2/*
    }

    # Requests to /oauth2/* are proxied to oauth2-proxy without authentication.
    # You can't use `reverse_proxy /oauth2/* oauth2-proxy.internal:4180` here because the reverse_proxy directive has lower precedence than the handle directive.
    handle @oauth2_authenticate {
        reverse_proxy zed-oauth2-proxy:4180 {
            # Reset OIDC Headers by default
            import reset-oidc-headers

            # oauth2-proxy requires the X-Real-IP and X-Forwarded-{Proto,Host,Uri} headers.
            # The reverse_proxy directive automatically sets X-Forwarded-{For,Proto,Host} headers.
            header_up Host {host}
            header_up Port 443
    
            header_up X-Real-IP {remote_host}
            header_up X-Forwarded-Uri {uri}
    
            # Allow long Requests
            # transport http {
            #     read_timeout 60s
            #     dial_timeout 60s
            # }
        }
    }

    # Requests to other paths are first processed by oauth2-proxy for authentication.
    handle {
        # Prometheus
        # Matches /prometheus and everything under it, then strips /prometheus
        handle @authenticated_prometheus {
            # Strip /prometheus Prefix
            uri strip_prefix /prometheus
 
            # Enforce SSO Authentication via oath2-proxy
            import oauth2-proxy-authenticate

            handle @prometheus_has_access {
                # Reverse Proxy
                reverse_proxy http://0.0.0.0:9090 {
                    # Overwrite OIDC Headers (prevent Attacks)
                    import overwrite-oidc-headers

                    header_up Host {host}
                    header_up Port 443
        
                    header_up X-Real-IP {remote_host}
                    header_up X-Forwarded-Proto {scheme}
                }
            }

            handle {
                respond "Access Denied: Missing Admin Role" 403
            }
        }

        # Grafana
        # Matches /grafana and everything under it, then strips /prometheus
        # handle_path /grafana* {
        handle @authenticated_grafana {
            # Strip /grafana Prefix
            uri strip_prefix /grafana

            # Enforce SSO Authentication via oath2-proxy
            import oauth2-proxy-authenticate

            # Reverse Proxy
            reverse_proxy http://0.0.0.0:3000 {
                # Overwrite OIDC Headers (prevent Attacks)
                import overwrite-oidc-headers

                header_up Host {host}
                header_up Port 443
        
                header_up X-Real-IP {remote_host}
                header_up X-Forwarded-Proto {scheme}
            }
        }

        # Handle API Endpoint
        handle @zed_api {
            # Strip /api Prefix
            # uri strip_prefix /api

            # Enforce SSO Authentication via oath2-proxy
            import oauth2-proxy-authenticate

            # Reverse Proxy
            reverse_proxy http://0.0.0.0:{$APPLICATION_PORT} {
                # Overwrite OIDC Headers (prevent Attacks)
                import overwrite-oidc-headers

                header_up Host {host}
                header_up Port 443

                header_up X-Real-IP {remote_host}
                header_up X-Forwarded-Proto {scheme}
            }
        }

        # Default Handle
        handle {
            # Enforce SSO Authentication via oath2-proxy
            import oauth2-proxy-authenticate

            # Reverse Proxy
            reverse_proxy http://0.0.0.0:{$APPLICATION_PORT} {
                # Overwrite OIDC Headers (prevent Attacks)
                import overwrite-oidc-headers

                header_up Host {host}
                header_up Port 443

                header_up X-Real-IP {remote_host}
                header_up X-Forwarded-Proto {scheme}
            }
        }
    }    
}
