[Unit]
Description=ZED LiveKit Server Container
Wants=zed-caddy.service zed-livekit-redis.service
After=zed-caddy.service zed-livekit-redis.service

[Container]
ContainerName=zed-livekit-server

Pod=zed.pod
StartWithPod=true

# PublishPort=8080:8080

# Common Environment Settings
EnvironmentFile=.env

# Server Environment Settings
EnvironmentFile=.env.livekit-server

# Other Environment Settings
# Environment=XXX=xxx

# Command
Exec=--config /etc/livekit.yaml

# Image
Image=docker.io/livekit/livekit-server:latest
Pull=missing

# Network
Network=container:zed-caddy

# Exposed Ports
# PublishPort=7880:7880
# PublishPort=7881:7881
# PublishPort=7882:7882/udp

# User
# User=root

# Volumes
Volume=/home/podman/containers/config/zed/livekit/livekit.yaml:/etc/livekit.yaml:ro

[Service]
Restart=always

# Disable if Part of a Pod
# [Install]
# WantedBy=multi-user.target
